<h1>All Posts</h1>

<%= link_to "Add a Post", new_post_path %>

<% @posts.each do |post| %>
<div>
  <h3><%= post.title %></h3>
  <p><%= post.content %></p>
  <%= link_to time_ago_in_words(post.created_at) + ' ago', post_path(post) %>
</div>
<% end %>
